

<h1 class="page-heading">Links de Interés</h1>

<div style="padding:.5em;">
<h2 class="page-heading">Laboratorio de Tecnologías Creativas</h2>
<p>Proyecto de la cooperativa Cambá, que busca difundir las tecnologías libres tomando como eje la producción artística</p>
<a href="https://educacion.camba.coop">educacion.camba.coop</a>
</div>
<div style="padding:.5em;"> 
<h2 class="page-heading">Acerca de la educación</h2>
<p>Blog de Alvar Maciel, docente y activista del software libre </p>
<a href="https://acercadelaeducacion.com.ar/">https://acercadelaeducacion.com.ar/</a>
</div>
<div style="padding:.5em;">
<h2 class="page-heading">Instructables - Arduino</h2>
<p>Sitio web de proyectos estio DIY (hazlo tu mismo), fuente de ideas e información para proyectos.  </p>
<a href="https://www.instructables.com/howto/arduino/">https://www.instructables.com/howto/arduino/</a>
</div>
</br>
